body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-field {
  display: flex;
  flex-flow: column;
  gap: 25px;
}

.error-message {
  color: red;
  font-size: 18px;
}

.success-message {
  color: green;
  font-size: 18px;
}
